.about-wrap{
  padding-bottom: 100vh;
}

.photo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-img {
    width: 16rem;
    padding: .3rem;
    border: 1px solid var(--primary-pink);
  }
  
  .heading {
    color: var(--primary-pink);
    text-transform: uppercase;
  }

  .about-me-text{
      font-size: 1.1rem;
      text-align: justify;
  }

  @media(max-width: 800px) {
    .profile-img {
      width: 15rem;
      
    }

    .photo-wrap{
        padding: unset;
    }

    .about-me-section-2{
        padding: 0 10%;
    }
  }
  
  @media(max-width: 468px) {
    .profile-img {
      width: 10rem;
    }
    .photo-wrap{
        padding: unset;
    }

    .about-me-section-2{
        padding: 0 10;
    }
  }